---
import '../styles/about.css';
import Education from './Education.astro';
import Skills from './Skills.astro';
import Language from './Language.astro';
---

<section class='about section' id='about'>
  <h2 class='section-title'>About Me</h2>

  <div class='about-container container grid'>
    <Education />
    <Skills />
    <Language />
  </div>
</section>
