<div class='education-container'>
  <div class='about-header'>
    <h3 class='about-title'>
      <i class='fi fi-rr-graduation-cap about-icon'></i> Education
    </h3>
  </div>

  <div class='education-content'>
    <div class='education-data'>
      <div>
        <h3 class='education-department'>Software Engineering</h3>
        <span class='education-institution'>CODE University</span>
        <div class='education-time'>
          <i class='fi fi-ts-calendar-days'></i> 2024 - Present
        </div>
      </div>

      <div>
        <span class='education-circle'></span>
        <span class='education-line'></span>
      </div>
    </div>

    <div class='education-data'>
      <div></div>
      <div>
        <span class='education-circle'></span>
        <span class='education-line'></span>
      </div>

      <div>
        <h3 class='education-department'>Industrial Engineering</h3>
        <span class='education-institution'>
          Middle East Technical University
        </span>
        <div class='education-time'>
          <i class='fi fi-ts-calendar-days'></i> 2021 - 2023 (Incomplete)
        </div>
      </div>
    </div>

    <div class='education-data'>
      <div>
        <h3 class='education-department'>Mechanical Engineering</h3>
        <span class='education-institution'>
          Middle East Technical University
        </span>
        <div class='education-time'>
          <i class='fi fi-ts-calendar-days'></i> 2018 - 2020 (Changed Department)
        </div>
      </div>

      <div>
        <span class='education-circle'></span>
        <span class='education-line'></span>
      </div>
    </div>

    <div class='education-data'>
      <div></div>
      <div>
        <span class='education-circle'></span>
        <span class='education-line'></span>
      </div>
      <div>
        <h3 class='education-department'>Control & Automation Technology</h3>
        <span class='education-institution'>Istanbul University</span>
        <div class='education-time'>
          <i class='fi fi-ts-calendar-days'></i> 2015 - 2017
        </div>
      </div>
    </div>
  </div>
</div>
