---
import '../styles/footer.css';
---

<footer class='footer'>
  <div class='footer-container container'>
    <h1 class='footer-title'>Yigit Baba</h1>
    <ul class='footer-links'>
      <li>
        <a href='#home' class='footer-link'>Home</a>
      </li>
      <li>
        <a href='#about' class='footer-link'>About</a>
      </li>
      <li>
        <a href='#projects' class='footer-link'>Projects</a>
      </li>
      <li>
        <a href='#contact' class='footer-link'>Contact</a>
      </li>
    </ul>
    <div class='footer-copyright'>
      <span>&copy; 2024 Yigit Baba. All rights reserved.</span>
    </div>
  </div>
</footer>
