---
import '../styles/home.css';
import Info from './Info.astro';
import Social from './Social.astro';
---

<section class='home section' id='home'>
  <div class='home-container container grid'>
    <div class='home-content grid'>
      <Info />
      <Social />
    </div>
  </div>
</section>
