<svg
  xmlns='http://www.w3.org/2000/svg'
  width='24px'
  height='24px'
  viewBox='0 0 24 24'
  class='skills-icon'
>
  <title>Icon_24px_CloudRun_Color</title>
  <g data-name='Product Icons'>
    <g>
      <polygon
        style='fill: currentColor; fill-rule: evenodd;'
        points='8.9 2.63 12.02 12 21.38 12 8.9 2.63'></polygon>
      <polygon
        style='fill: currentColor; fill-rule: evenodd;'
        points='21.38 12 12.02 12 8.9 21.38 21.38 12'></polygon>
      <polygon
        style='fill: currentColor; fill-rule: evenodd;'
        points='3.44 21.38 6.57 19.81 8.9 12 5.78 12 3.44 21.38'></polygon>
      <polygon
        style='fill: currentColor; fill-rule: evenodd;'
        points='3.44 2.63 5.78 12 8.9 12 6.57 4.19 3.44 2.63'></polygon>
    </g>
  </g>
</svg>
